<%= form_with(model: professional) do |form| %>
  <% if professional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professional.errors.count, "error") %> prohibited this professional from being saved:</h2>

      <ul>
        <% professional.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :full_name, class: "form-label", style: "margin-left: 25px"%>
    <%= form.text_field :full_name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class:'btn btn-primary', style: "margin-left: 25px" %>
  </div>
<% end %>
