<p id="notice"><%= notice %></p>

<h1>Profesionales</h1>

<table>
  <thead>
    <tr>
      <th>Nombre completo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= professional.full_name %></td>
        <td><%= link_to 'Turnos', professional_appointments_path(professional) %></td>
        <td><%= link_to 'Detalle', professional %></td>
        <td><%= link_to 'Editar', edit_professional_path(professional) %></td>
        <td><%= link_to 'Borrar', professional, method: :delete, data: { confirm: 'Estás seguro de despedir al profesional?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Contratar profesional', new_professional_path %>
<%= link_to 'Volver', root_path %>