<%= render "layouts/navbar.html.erb"%>

<h1>Profesionales</h1>
<p> 
  <%= link_to 'Contratar profesional', new_professional_path, class: "btn btn-primary my-2 margin-button"%>
  <%= link_to 'Volver', root_path,  class: "btn btn-secondary my-2" %>
</p>
<div class="alert alert-info" role="alert">
  No se puede despedir a profesionales que tengan turnos pendientes
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre completo</th>
      <th scope="col">Acciones</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @professionals.each do |professional| %>
      <tr>
        <td><%= professional.full_name %></td>
        <td>
          <%= link_to 'Turnos', professional_appointments_path(professional), class: "btn btn-primary btn-sm" %>
          <%= link_to 'Detalle', professional, class: "btn btn-info btn-sm"%>
          <% if isAdminUser? %>
            <%= link_to 'Editar', edit_professional_path(professional), class: "btn btn btn-sm", style: "background-color: #6d04d6; color: white" %>
            <% if check_deletion(professional) %>
              <%= link_to 'Borrar', professional, method: :delete, data: { confirm: 'Estás seguro de despedir al profesional?' }, class: "btn btn-danger btn-sm" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>