<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label "Nombre de usuario: ", class: "form-label col-1", style: "margin-left: 25px"  %>
    <%= form.text_field :name %>
  </div>

  <div class="field mb-3">
    <%= form.label "Contraseña: ", class: "form-label col-1", style: "margin-left: 25px"  %>
    <%= form.password_field :password %>
  </div>

  <div class="field mb-3">
    <%= form.label "Rol", class: "form-label col-1", style: "margin-left: 25px" %>
    <%= form.select :role_id, Role.all.map{ |r| [r.name, r.id, {:name => r.name.downcase}] } %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class:'btn btn-primary', style: "margin-left: 25px"  %>
  </div>
<% end %>
