<%= render "layouts/navbar.html.erb"%>

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">POLYCON</h1>
            <p class="lead text-muted">¡Hola! <%=current_user.name %>, Bienvenido a Polycon, una aplicación para gestionar los profesionales y los turnos de nuestra policlínica</p>
            <p>
                <%= link_to 'Usuarios', users_path, class: "btn btn-primary my-2" %>
                <%= link_to 'Profesionales y turnos', professionals_path, class: "btn btn-info my-2" %>

            </p>
        </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <%= image_tag ("doctores.jpg") , class: "img-fluid"%>
        </div>
    </div>
</main>