<p id="notice"><%= notice %></p>

<h1>Turnos de <%= @professional.full_name %></h1>

<table>
  <thead>
    <tr>
      <th>Nombre del paciente</th>
      <th>Apellido del paciente</th>
      <th>Teléfono</th>
      <th>Notas adicionales</th>
      <th>Fecha y hora de turno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.first_name %></td>
        <td><%= appointment.last_name %></td>
        <td><%= appointment.phone %></td>
        <td><%= appointment.note %></td>
        <td><%= appointment.date %></td>
        <td><%= link_to 'Detalle', [@professional, appointment] %></td>
        <td><%= link_to 'Editar', edit_professional_appointment_path(@professional, appointment) %></td>
        <td><%= link_to 'Cancelar turno', [@professional, appointment], method: :delete, data: { confirm: 'Estás seguro de querer cancelar el turno?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Pedir turno', new_professional_appointment_path(@professional) %>
<%= link_to 'Volver', professionals_path %>