<%= render "layouts/navbar.html.erb"%>
<p id="notice"><%= notice %></p>
<h1>Turnos de <%= @professional.full_name %></h1>
<p> 
  <%= link_to 'Pedir turno', new_professional_appointment_path(@professional), class: "btn btn-primary my-2 margin-button" %>
  <%= link_to 'Volver', professionals_path,  class: "btn btn-secondary my-2" %>
  <%= link_to 'Exportar turnos', professional_export_appointments_path(@professional), class: "btn btn-success float-end my-2 margin-button"  %>
</p>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre del paciente</th>
      <th scope="col">Apellido del paciente</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Notas adicionales</th>
      <th scope="col">Fecha y hora de turno</th>
      <th scope="col">Acciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.first_name %></td>
        <td><%= appointment.last_name %></td>
        <td><%= appointment.phone %></td>
        <td><%= appointment.note %></td>
        <td><%= appointment.date %></td>
        <td>
          <%= link_to 'Detalle', [@professional, appointment], class: "btn btn-info btn-sm" %>
          <% if !isConsultaUser? %>
            <%= link_to 'Editar', edit_professional_appointment_path(@professional, appointment), class: "btn btn btn-sm", style: "background-color: #6d04d6; color: white" %>
            <%= link_to 'Cancelar turno', [@professional, appointment], method: :delete, data: { confirm: 'Estás seguro de querer cancelar el turno?' }, class: "btn btn-danger btn-sm"  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>